<h2 class="mt-2">Step3: Summary</h2>
<h3>Your Tesla Cybertruck </h3>
<table width="60%" class="mt-2">
    <tr>
        <td width="40%"><b>{{config}}</b></td>
        <td width="20%">{{configPrice | currency:'USD'}}</td>
    </tr>
    <tr>
        <td>Range: {{range}} miles - Max Speed: {{speed}}</td>
        <td></td>
    </tr>
    <tr>
        <td><b>{{color}}</b></td>
        <td>{{colorPrice | currency:'USD'}}</td>
    </tr>
    <tr *ngIf="towHitch === 'true'">
        <td><b>Tow hitch package</b></td>
        <td>{{towHitchPrice | currency:'USD'}}</td>
    </tr>
    <tr *ngIf="yoke === 'true'">
        <td><b>Yoke steering wheel</b></td>
        <td>{{yokePrice | currency:'USD'}}</td>
    </tr>

    <tr>
        <td class="btop"><b>TOTAL COST</b></td>
        <td class="btop">{{total | currency:'USD'}}</td>
    </tr>
</table>